body
{
    background-color: floralwhite;
    margin: auto;
    width: 70%;
    height: 70%;
}

h1, h3, .info
{
    text-align: center;
}

h3
{
  color: red;
}

button
{
    position: relative;
    left: 46%;
}