html
{
	height: 98%; /* on defini la balise html a 100% le parent pour le body donc child*/
	
}

body
{
	background:url("image/lisiere.jpg") fixed;
	display : flex;
	flex-direction: row;
	color: black;
	width: auto;
	height: 100%;
}


@font-face {
    font-family: 'black_jackregular';
    src: url('blackjack-webfont.eot');
    src: url('blackjack-webfont.eot?#iefix') format('embedded-opentype'),
         url('blackjack-webfont.woff2') format('woff2'),
         url('blackjack-webfont.woff') format('woff'),
         url('blackjack-webfont.ttf') format('truetype'),
         url('blackjack-webfont.svg#black_jackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

header
{
	margin-left: 10%;
	width: 100%;
	text-align: center;

}



img
{
	float: right;
	margin-right: 1%;
	border: 2px outset teal;
	border-radius: 10px 5px 10px 5px;
	box-shadow: 2px 2px 2px black;
}

#liseret
{
	
	background:url("image/bgSombre.png") fixed;
	border-radius: 10px / 10px;
	width: 10%;
	
}

section
{
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 25%;
	margin-left: 18%;
	
}

#experience
{
	padding: 1% 1%;
	margin: 1% 1%;
	text-align: left;
	width: 25%;
	
}

#competence
{
	padding: 1% 1%;
	margin: 1% 1%;
	text-align: left;
	width: 25%;
}

#formation
{
	padding: 1% 1%;
	margin: 1% 1%;
	text-align: left;
	width: 25%;
}

header h1
{
	color: maroon;
	font-family: 'black_jackregular', Arial, sans-serif;
}

h2
{
	color: navy;
	text-align: left;
}


p
{
	font-size: 1.2em;
	color: #14EA54D;
	margin-right: 10%;
}


a
{
	text-decoration: none;
	color: navy;
}
a:hover
{
	color: red;
}

@media all and (max-width: 1024px) and (orientation: portrait)
{
    body
    {
        width: 100%;
    }
	
	#liseret
	{
		display: none;
	}
	
	section
	{
		width: 100%;
		flex-direction: column;
		margin: 0%;
		
	}
	
	#experience
	{
		text-align: left;
		width: 80%;
	}
	
	#competence
	{

		text-align: left;
		width: 80%;
	}

	#formation
	{
		text-align: left;
		width: 80%;
	}
		
}
